.peculiarities {
  padding: 94px 0;

  &__wrapper {
    gap: 30px;
  }

  &__item {
    width: 270px;
  }

  &-item__icon {
    display: flex;
    height: 120px;
    width: 270px;
    background-color: var(--background-team-color);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  &-item__title {
    @include font("roboto", 14px, 700, 1.2, 0.03em);
    margin-bottom: 10px;
  }

  &-item__text {
    @include font("roboto", 14px, null, 1.7, 0.03em);
  }
}
